.nav-pills.nav-wizard > li {
    position: relative;
    overflow: visible;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}
.nav-pills.nav-wizard > li + li {
    margin-left:0;
}
.nav-pills.nav-wizard > li:first-child {
    border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
    border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
    border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a {
    border-radius: 0 5px 5px 0;
}
.nav-pills.nav-wizard > li a {
    border-radius: 0;
    background-color: #eee;
}
.nav-pills.nav-wizard > li .nav-arrow {
    position: absolute;
    top: 0px;
    right: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #eee;
    z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: #eee #eee #eee transparent;
    z-index: 150;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
    border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
    border-color: #aaa #aaa #aaa transparent;
}
.nav-pills.nav-wizard > li:hover a {
    background-color: #aaa;
    color: #fff;
}
.nav-pills.nav-wizard > li.active .nav-arrow {
    border-color: transparent transparent transparent #c74f94;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
    border-color: #c74f94 #c74f94 #c74f94 transparent;
}
.nav-pills.nav-wizard > li.active a {
    background-color: #c74f94;
}

/**Mdificaciones de estilo PixelMonster**/

a {
    color: #c74f94;
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #c74f94 !important;
    border-color: #c74f94 !important;
}

.btn-success {
    color: #fff;
    background-color: #e68542 !important;
    border-color: #e68542 !important;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #9b316d !important;
    border-color: #3a1229!important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #9b316d !important;
    border-color: #9b316d !important;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #9b316d !important;
    border-color: #e68542 !important;
}