#wizard-step-container {
    margin: 20px 0;
}

#wizard-content-container {
    margin: 20px 0;
}

#wizard-navigation-container {
    border-top: 1px solid #eee;
    margin: 20px 0;
    padding-top: 20px;
}

/**Fieldset**/
fieldset.f-set {
    border: 1px dotted #ccc !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    border-radius: 3px;
}

legend.f-set {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none !important;
}

legend {
    border-bottom: none !important;
}

/**Botón de paypal**/
#btn-paypal {
    max-width: 60px;
    margin-top: -3px;
}

/**Textos del detalle de la compra**/

.text-magenta{
    color: #c74f93;
}

.text-orange{
    color: #e68542;
}

.underlined{
    text-decoration: underline!important;
}