<div class="row">
    <br>

    <h3><i class="fa fa-wrench"></i> ¿Cómo quieres tus tarjetas?</h3>
    <p>Nuestras tarjetas se realizan con los máximos estándares de calidad. Configura las opciones de tu orden</p>
    <hr>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Cantidad de tarjetas a adquirir</label>
            <select class="form-control" name="configQuantity" ng-model="buy.item" ng-required="true" ng-change="calculateAmounts()">
                <option ng-repeat="item in items track by item.id" id="{{item.id}}-item" value="{{item.id}}" data-quantity="{{item.quantity}}" data-price="{{item.price}}" data-deliverytime="{{item.delivery_time}}" data-deliveryprice="{{item.delivery_price}}" >{{item.quantity}}</option>
            </select>
            <!-- validacion -->
            <div ng-messages="formBuy.configQuantity.$error"
                 style="color:maroon" role="alert">
                <div ng-message="required">
                    <span class="label label-danger">¡Atención!</span>
                    El campo "Cantidad" es obligatorio.
                </div>
            </div>
        </div>
        <div ng-if="buy.item">
            <div class="form-group" ng-show="buy.item == 1">
                <label>Juegos</label>
                <select class="form-control" ng-model="buy.sets" ng-options="n for n in []| range:1:11" ng-change="calculateAmounts()"
                        data-toggle="tooltip" data-placement="top" title="Cada juego es de mínimo 200 tarjetas. Ej. Si quieres tarjetas para 3 personas con datos o diseños diferentes deberás seleccionar la cantidad de 200 y 3 juegos."
                        onmouseover="$(this).tooltip('toggle')"></select>
            </div>
            <div class="form-group">
                <label >Acabado</label>
                <div ng-repeat="item in config.acabado track by $index">
                    <label class="radio-inline"> <input type="radio"
                                                        name="cardfinish"
                                                        ng-model="buy.cardfinish"
                                                        ng-value="item.descripcion"
                                                        ng-data-id="item.id"
                                                        ng-init="$index == 0 ? (buy.cardfinish = item.descripcion) : ''">
                        {{item.descripcion}}</label><a href="javascript:void(0);" rel="popover" data-img="{{item.img}}" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="{{item.descripcion}}" onmouseover="popover(this);" placement="left" class="btn btn-xs btn-link"><i class="fa fa-fw fa-picture-o"></i></a>
                </div>
            </div>
            <div class="form-group">
                <label >Facturación</label>
                <div class="row">
                    <div class="col-md-12">
                        <label class="checkbox-inline"><input type="checkbox" ng-value="true" ng-model="buy.bill" ng-click="calculateAmounts()" id="requiere_factura">¿Requieres factura?</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label >Entrega</label>
                <div class="row">
                    <div class="col-md-12">
                        <label class="radio-inline"><input type="radio" ng-value="true" name="necesitaEnvio" ng-model="buy.needdelivery" ng-change="calculateAmounts()" ng-checked="true">Fedex segundo día.</strong></label>
                    </div>
                    <div class="col-md-12">
                        <label class="radio-inline"><input type="radio" ng-value="false" name="necesitaEnvio" ng-model="buy.needdelivery" ng-change="calculateAmounts()">Recoger en las oficinas de Xalapa, Veracruz.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>