<div class="row">
    <br>

    <h3><i class="fa fa-user"></i> Tus datos</h3>
    <p>Ayúdanos a completar el formulario con tus datos para hacer tu pedido.</p>
    <hr>
</div>
<div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" name="buyerNombre" ng-model="buyer.nombre" placeholder="Introduce tu nombre"
           ng-required="true"/>
    <!-- validacion -->
    <div ng-messages="formBuy.buyerNombre.$error"
         style="color:maroon" role="alert">
        <div ng-message="required">
            <span class="label label-danger">¡Atención!</span>
            El campo "Nombre" es obligatorio.
        </div>
    </div>
</div>
<div class="form-group">
    <label>Dirección</label>
    <input type="text" class="form-control" name="buyerAddress" ng-model="buyer.direccion"
           placeholder="Introduce tu dirección"
           ng-required="true"/>
    <!-- validacion -->
    <div ng-messages="formBuy.buyerAddress.$error"
         style="color:maroon" role="alert">
        <div ng-message="required">
            <span class="label label-danger">¡Atención!</span>
            El campo "Dirección" es obligatorio.
        </div>
    </div>
</div>
<div class="form-group">
    <label>Telefóno</label>
    <input type="text" class="form-control" name="buyerPhone" ng-model="buyer.telefono"
           placeholder="Introduce tu dirección"
           ng-required="true"/>
    <!-- validacion -->
    <div ng-messages="formBuy.buyerPhone.$error"
         style="color:maroon" role="alert">
        <div ng-message="required">
            <span class="label label-danger">¡Atención!</span>
            El campo "Teléfono" es obligatorio.
        </div>
    </div>
</div>
<div class="form-group">
    <label>Correo electrónico</label>
    <input type="mail" class="form-control" name="buyerMail" ng-model="buyer.correo"
           ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
           placeholder="Introduce tu correo electrónico" ng-required="true"/>
    <!-- validacion -->
    <div ng-messages="formBuy.buyerMail.$error"
         style="color:maroon" role="alert">
        <div ng-message="required">
            <span class="label label-danger">¡Atención!</span>
            El campo "Correo electrónico" es obligatorio.
        </div>
        <div ng-message="pattern">
            <span class="label label-danger">¡Atención!</span>
            El campo "Correo electrónico" debe contener una dirección de correo válida.
        </div>
    </div>
</div>