<div class="row">
    <div class="row">
        <br>

        <h3><i class="fa fa-truck"></i> ¿A dónde lo enviamos?</h3>
        <hr>
    </div>

    <div class="row" ng-show="!buy.needdelivery">
        <div class="col-md-12 text-center" style="min-height: 400px;">
            <br><br><br><br>
            <h3 class="text-success">Has elegido recoger tu pedido en nuestras oficinas.</h3>
            <p class="text-muted">Dirección: Boulevard Cristóbal Colón 5-216
                Torre Ánimas
                CP. 91190 Xalapa, Ver. 
                Tel. (228) 8128012. <br>
                Horario de atención: Lunes a Viernes 10am - 3pm y 5 pm - 8pm.</p>
            <hr>
            <p class="text-info">Si cambias de opinión, puedes hacerlo en el paso <strong>"2. Tu pedido"</strong></p>
        </div>
    </div>

    <div class="row" ng-show="buy.needdelivery">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nombre destinatario</label>
                        <input type="text" class="form-control" name="deliveryName" ng-model="buy.delivery.person" ng-required="true"/>
                        <!-- validacion -->
                        <div ng-messages="formBuy.deliveryName.$error"
                             style="color:maroon" role="alert">
                            <div ng-message="required">
                                <span class="label label-danger">¡Atención!</span>
                                El campo "Nombre" es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Calle y número</label>
                        <input type="text" class="form-control" name="deliveryAddress" ng-model="buy.delivery.address"
                               ng-required="true"/>
                        <!-- validacion -->
                        <div ng-messages="formBuy.deliveryAddress.$error"
                             style="color:maroon" role="alert">
                            <div ng-message="required">
                                <span class="label label-danger">¡Atención!</span>
                                El campo "Dirección" es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Colonia</label>
                        <input type="text" class="form-control" name="deliveryColony" ng-model="buy.delivery.colony"
                               ng-required="true"/>
                        <!-- validacion -->
                        <div ng-messages="formBuy.deliveryColony.$error"
                             style="color:maroon" role="alert">
                            <div ng-message="required">
                                <span class="label label-danger">¡Atención!</span>
                                El campo "Colonia" es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Ciudad</label>
                        <input type="text" class="form-control" name="deliveryCity" ng-model="buy.delivery.city" ng-required="true"/>
                        <!-- validacion -->
                        <div ng-messages="formBuy.deliveryCity.$error"
                             style="color:maroon" role="alert">
                            <div ng-message="required">
                                <span class="label label-danger">¡Atención!</span>
                                El campo "Ciudad" es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control" ng-model="buy.delivery.state" name="deliveryState" ng-required="true">
                            <option value=""></option>
                            <option ng-repeat="item in config.combos.estados" value="{{item.nombre_estado}}">
                                {{item.nombre_estado}}
                            </option>
                        </select>
                        <!-- validacion -->
                        <div ng-messages="formBuy.deliveryState.$error"
                             style="color:maroon" role="alert">
                            <div ng-message="required">
                                <span class="label label-danger">¡Atención!</span>
                                El campo "Estado" es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Código postal</label>
                        <input type="text" class="form-control" name="deliveryPostcode" ng-model="buy.delivery.postcode"
                               ng-required="true"/>
                        <!-- validacion -->
                        <div ng-messages="formBuy.deliveryPostcode.$error"
                             style="color:maroon" role="alert">
                            <div ng-message="required">
                                <span class="label label-danger">¡Atención!</span>
                                El campo "Código postal" es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Télefono</label>
                        <input type="text" class="form-control" name="deliveryPhone" ng-model="buy.delivery.phone" ng-required="true"/>
                        <!-- validacion -->
                        <div ng-messages="formBuy.deliveryPhone.$error"
                             style="color:maroon" role="alert">
                            <div ng-message="required">
                                <span class="label label-danger">¡Atención!</span>
                                El campo "Teléfono" es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Referencias</label>
                        <input type="text" class="form-control" name="delivery.reference" ng-model="buy.delivery.reference"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <p class="text-orange"><strong>Los envíos son solamente nacionales.</strong></p>
            </div>
        </div>
    </div>
</div>