<div class="row">
    <div class="row">
        <br>

        <h3><i class="fa fa-credit-card-alt"></i> Procesa tu pedido</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-4">
            <fieldset class="f-set">
                <legend>
                    <i class="fa fa-user"></i> Datos comprador
                </legend>
                <dl>
                    <dt>Nombre</dt>
                    <dd>{{buyer.nombre}}</dd>
                    <dt>Dirección</dt>
                    <dd>{{buyer.direccion}}</dd>
                    <dt>Teléfono</dt>
                    <dd>{{buyer.telefono}}</dd>
                    <dt>Correo electrónico</dt>
                    <dd>{{buyer.correo}}</dd>
                </dl>
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="f-set">
                <legend>
                    <i class="fa fa-truck"></i> Datos de envío
                </legend>
                <div class="row" ng-if="buy.needdelivery">
                    <dl>
                        <dt>Nombre</dt>
                        <dd>{{buy.delivery.person}}</dd>
                        <dt>Dirección</dt>
                        <dd>{{buy.delivery.address}}, {{buy.delivery.colony}}, {{buy.delivery.city}}, {{buy.delivery.state}},
                            CP. {{buy.delivery.postcode}}
                        </dd>
                        <dt>Teléfono de contacto</dt>
                        <dd>{{buy.delivery.phone}}</dd>
                        <dt>Referencias</dt>
                        <dd>{{buy.delivery.reference|| 'N/A'}}</dd>
                    </dl>
                </div>
                <div class="row" ng-if="!buy.needdelivery">
                    <br>
                    <div class="col-md-12 text-center">
                        <h4 class="text-success">Has elegido recoger tu pedido en nuestras oficinas.</h3>
                            <p class="text-muted">Dirección: Boulevard Cristóbal Colón 5-216
                                Torre Ánimas
                                CP. 91190 Xalapa, Ver. 
                                Tel. (228) 8128012. <br>
                                Horario de atención: Lunes a Viernes 10am - 3pm y 5 pm - 8pm.</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset class="f-set">
                <legend>
                    <i class="fa fa-dollar"></i> Detalles de la compra
                </legend>
                <dl class="dl-horizontal">
                    <dt>Cantidad de tarjetas</dt>
                    <dd>{{buy.quantity * buy.sets}}</dd>
                    <dt>Juegos</dt>
                    <dd>{{buy.sets}}</dd>
                    <dt>Acabado</dt>
                    <dd>{{buy.cardfinish}}</dd>
                    <dt>Tiempo de entrega</dt>
                    <dd>{{buy.deliverytime}}</dd>
                    <dt><strong>SUBTOTAL</strong></dt>
                    <dd><strong>${{buy.subtotal| number:2}}</strong></dd>
                    <dt><strong>ENVÍO</strong></dt>
                    <dd><strong>${{buy.deliveryprice| number:2}}</strong></dd>
                    <dt><strong>IVA</strong></dt>
                    <dd><strong>${{buy.iva| number:2}}</strong></dd>
                    <dt><strong>TOTAL</strong></dt>
                    <dd><strong>${{buy.total| number:2}}</strong></dd>
                </dl>
                <br>
            </fieldset>
        </div>
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-12 alert alert-success">
                            <label class="checkbox-inline underlined"><input type="checkbox" ng-model="acceptTerms.val">Acepto los terminos y condiciones al hacer mi pedido.</label>
                        </div>
                        <div class="col-md-12">
                            <a href="http://pixelmonster.mx/terminos-y-condiciones/" target="_blank" class="btn btn-link">Ver terminos y condiciones.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>