<div class="row">
    <br>

    <h3 ng-if="buy.card_content.needdesign == '1'"><i class="fa fa-fw fa-paint-brush"></i> Datos para tu diseño</h3>
    <h3 ng-if="buy.card_content.needdesign == '0'"><i class="fa fa-fw fa-paint-brush"></i> Diseño</h3>
    <hr>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <label class="col-md-12">¿Necesitas un diseño?</label>

                        <div class="col-md-12">
                            <label class="radio-inline"> <input type="radio"
                                                                name="needdesign"
                                                                ng-model="buy.card_content.needdesign"
                                                                ng-click="clearFile()"
                                                                ng-value="0">
                                No </label>
                            <label class="radio-inline"> <input type="radio"
                                                                name="needdesign"
                                                                ng-model="buy.card_content.needdesign"
                                                                ng-click="clearFile()"
                                                                ng-value="1">
                                Si </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-10" ng-if="buy.card_content.needdesign == '1'">
                    <div class="col-md-12">
                        <small class=""><strong class="text-success">Tus tarjetas incluyen una propuesta de diseño.
                                Ayúdanos a
                                llenar
                                los datos para
                                realizar tu diseño.
                                No es
                                necesario
                                llenar todos, solo los que consideres que deben llevar tus tarjetas.</strong>
                            TIP: Recuerda que mientras menos
                            información o
                            dejes la más esencial, tu propuesta puede ser más visual.
                            <span class="text-warning">Recuerda revisar tu ortografía y datos ya que son los que usaremos para tu diseño. ¡No queremos que tus tarjetas tengan errores al imprimir!</span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="buy.card_content.needdesign == '1'">
    <fieldset class="f-set">
        <legend class="f-set">
            <i class="fa fa-fw fa-font"></i> Contenido
        </legend>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.name">Nombre</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
                        <input type="text" class="form-control" id="card_content.name" name="designName" ng-model="buy.card_content.name"/>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.email">Correo electrónico</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></span>
                        <input type="email"
                               ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                               class="form-control" name="designEmail" id="card_content.email"
                               ng-model="buy.card_content.email">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.address">Dirección</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-map-marker"></i></span>
                        <input type="text" class="form-control" id="card_content.address"
                               ng-model="buy.card_content.address">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.company">Empresa</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-building-o"></i></span>
                        <input type="text" class="form-control" id="card_content.company"
                               ng-model="buy.card_content.company">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.charge">Cargo</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-briefcase"></i></span>
                        <input type="text" class="form-control" id="card_content.charge"
                               ng-model="buy.card_content.charge">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.office_phone">Teléfono oficina</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-phone"></i></span>
                        <input type="text" class="form-control" id="card_content.office_phone"
                               ng-model="buy.card_content.office_phone">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.cell_phone">Teléfono celular</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-mobile-phone"></i></span>
                        <input type="text" class="form-control" id="card_content.cell_phone"
                               ng-model="buy.card_content.cell_phone">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.facebook">Facebook</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-facebook"></i></span>
                        <input type="text" class="form-control" id="card_content.facebook"
                               ng-model="buy.card_content.facebook">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.twitter">Twitter</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-twitter"></i></span>
                        <input type="text" class="form-control" id="card_content.twitter"
                               ng-model="buy.card_content.twitter">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.instagram">Instagram</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-instagram"></i></span>
                        <input type="text" class="form-control" id="card_content.instagram"
                               ng-model="buy.card_content.instagram">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="card_content.comments">Comentarios adicionales</label>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-pencil"></i></span>
                        <input type="text" class="form-control" id="card_content.comments"
                               ng-model="buy.card_content.comments">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-12 text-center" ng-show="formBuy.contentLogo.$valid">
                    <h5>Archivo seleccionado: <strong>{{buy.card_content.logo}}</strong></h5>
                </div>
                <div class="form-group" ng-show="!formBuy.contentLogo.$valid">
                    <label class="control-label" for="card_content.logo"><i class="fa fa-fw fa-file-image-o"></i>
                        Logotipo</label>
                    <input type="file" valid-file valid-format name="contentLogo" id="contentLogo" required ng-model="buy.card_content.logo" onchange="getfile(this)">
                    <!-- validacion -->
                    <div ng-messages="formBuy.contentLogo.$error"
                         style="color:maroon" role="alert">
                        <div ng-message="required">
                            <span class="label label-danger">¡Atención!</span>
                            Debe elegir un logotipo.
                        </div>
                        <div ng-message="extension">
                            <span class="label label-danger">¡Atención!</span>
                            Debe proporcionar un archivo de tipo .png.
                        </div>
                    </div>
                    <p class="text-warning">NOTA:Recuerda que tu logo debe estar en archivo <strong>.PNG</strong> con fondo transparente o en archivo <strong>.AI</strong> (Abobe illustratior).</p>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="row" ng-if="buy.card_content.needdesign == '0'">
    <fieldset class="f-set">
        <legend class="f-set">
            <i class="fa fa-fw fa-image"></i> Plantilla
        </legend>
        <div class="col-md-12 text-center" ng-show="formBuy.contentTemplate.$valid">
            <h5>Archivo seleccionado: <strong>{{buy.card_content.template}}</strong></h5>
        </div>
        <div class="col-md-12 text-center" ng-show="!formBuy.contentTemplate.$valid">
            <p>
                <a href="/sistema-tarjetas/cardtemplates/plantilla-illustrator-tarjetastransparentes-pixel.ai" class="btn btn-primary btn-lg"
                   target="_blank">Plantilla <img id="btn-paypal" src="images/adobe-ai-32.png"/></a>
                <a href="/sistema-tarjetas/cardtemplates/plantilla-photoshop-tarjetastransparentes-pixel.psd" class="btn btn-primary btn-lg"
                   target="_blank">Plantilla <img id="btn-paypal" src="images/psd-32.png"/></a>
            </p>
        </div>
        <br>

        <div class="col-md-12">
            <div class="col-md-12" ng-show="!formBuy.contentTemplate.$valid">
                <div class="form-group">
                    <label class="control-label" for="card_content.template"><i class="fa fa-fw fa-files-o"></i>
                        Subir diseño</label>
                    <input type="file" required name="contentTemplate" id="contentTemplate" valid-file valid-format ng-model="buy.card_content.template" onchange="getfile(this)">
                    <!-- validacion -->
                    <div ng-messages="formBuy.contentTemplate.$error"
                         style="color:maroon" role="alert">
                        <div ng-message="required">
                            <span class="label label-danger">¡Atención!</span>
                            Debe proporcionar un archivo con su diseño.
                        </div>
                        <div ng-message="extension">
                            <span class="label label-danger">¡Atención!</span>
                            Debe proporcionar un archivo de tipo .ai o .psd.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="text-warning">NOTA:Recuerda que tu logo debe estar en archivo <strong>.PSD</strong> (Adobe Photoshop) con fondo transparente o en archivo <strong>.AI</strong> (Abobe illustratior).</p>
                </div>
            </div>
        </div>
    </fieldset>
</div>